/* td:hover + div{visibility: visible;} */
*[data-href] {
  cursor: pointer;
}
td a {
  display:inline-block;
  min-height:100%;
  width:100%;
  padding: 10px; /* add your padding here */
}
td {
  padding:0;  
}

.hackerRow {
  background-color: #ffffff;
  border: 1px #cccccc;  
}

.hackerRow:hover { 
  background-color: #fafafa;
}

.author {
  color: #999999;
}

.date {
  color: #333333;
}

a:hover { 
  background-color: #fafafa;
}

a {
  color: black;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:active {
  color: black;
}


